
/* styling the user form   */
#flex{ 
    display: flex;
    flex-wrap: wrap;
}

#user-options{
    margin: 40px;
    width: 30vw;
    /* height: 90vh; */
}

#user-options > *{ 
    margin: 10px;
}

.form-btn{
    margin-left: 184px;
}

#user-options > label{
    width: 150px;
    display: inline-block;
}

/* styling the portion for the maze */
#maze-player{
    border: 5 px solid black;
    margin: 20px;
    height: 80vh;
    aspect-ratio: 1 / 1;
    background-color: darkgray;
    border: 5px solid black;
}
#other-flex{
    display: flex;
    gap: 20px;
}

#flex-floorlabel {
    height: 50px;
    width: 50%;
    display: flex;
    padding: 10px;
    border-radius: 40px;
    border: 2px solid black;
    background-color: red;
}

#flex-floorlabel > * {
    flex: 1;
    margin-top: 8px;
    margin-left: 8px;
    font-size: 1.75em;
}

#floor{
    text-align: center;
    color: white;
}

#number{
    background-color: red;
    text-align: center;
    color: white;
}

#winner{
    flex-basis: 100%;
    text-align: center;
    margin-top: 40%;
    font-size: 3em;
    color: lightcyan;
}

@media (max-width: 1100px) {

    #flex{
        display: block;
    }
    #maze-player{
        display: block;
        margin: 20px;
        width: 65vw;
        aspect-ratio: 1 / 1;
    }
}

#maze-container{ 
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}


.normal{
    background-color: yellow;
}

.game-over{
    background-color: black;
}
